.carousel-window{
    background: rgb(225, 240, 213);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-item{
    display: inline-flex;
    width: 350px;
    height:250px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    flex: none;
}

.carousel-btn{
    display: flex;
    align-items: center;
}