.carousel-window{
    background: coral;
    width: 100%;
    height: auto;

    overflow: hidden;
}

.carousel-item{
    width: 350px;
    height:250px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    flex: none;
}