.contentCard {
    font-family: 'notosans';
    border-radius: 10px;
    margin-top: 5px;
    padding-bottom: 1;
    padding-top: 1;
}

.addBox {
    padding-top: 1;
    padding-bottom: 1;
    font-size: 20;
}

.contentList {
    border: 0;
}