.todo-content{
    flex-direction: column;
    display: flex;
    align-items: left;
}

.content-wrapper{
    align-items: center;
}

.content-box{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.remove-icon{
    align-self: left;
}